@model IPagedList<ProductViewModel>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span><i class="fas fa-box"></i> Products</span>
        <a asp-action="Create" class="btn btn-success"> Create New</a>
    </div>
    <div class="card-body">

        <table class="table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Code</td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>

                        <td>
                            @if (@item.IsActive)
                            {
                                <span>Yes</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </td>

                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">Details</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <div class="pagination-container">
            <ul class="pagination">
                @if (Model.PageCount > 1)
                {
                    <li class="page-item @(Model.IsFirstPage ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = 1 })">First</a>
                    </li>
                    <li class="page-item @(Model.IsFirstPage ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1 })">Previous</a>
                    </li>
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                        </li>
                    }
                    <li class="page-item @(Model.IsLastPage ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1 })">Next</a>
                    </li>
                    <li class="page-item @(Model.IsLastPage ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageCount })">Last</a>
                    </li>
                }
            </ul>
        </div>

    </div>
</div>

